<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS has no idea what .mustache files are so we need to add a mime type for them for the searching to work-->
<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".mustache" mimeType="text/plain" />
		 <mimeMap fileExtension=".json" mimeType="text/plain" />
		 <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>
   </system.webServer>
</configuration>
